{# templates/transaction/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation de la transaction{% endblock %}

{% block body %}
    <h1>Confirmation de la transaction</h1>
    <p>Votre transaction a été enregistrée avec succès.</p>
    {# Vous pouvez ajouter d'autres informations ici si nécessaire #}
{% endblock %}